<h1>Hits for <%= @assembly.name %></h1>
<p>Number of hits: <%= @hits.length %></p>

<table>
  <thead>
    <tr>
      <th>Matching Gene Name</th>
      <th>Matching DNA</th>
      <th>Percent Similarity</th>
    </tr>
  </thead>
  <tbody>
    <% @hits.each do |h| %>
      <tr>
        <td><%= h.match_gene_name %></td>
        <td><%= h.match_gene_dna.first(100) %></td>
        <td><%= h.percent_similarity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
