<p id="notice"><%= notice %></p>

<%= link_to '<< Back to All Items For Sale', items_path %>

<h2>
  <%= @item.name %>
</h2>

<%= image_tag @item.image_url, class: "thumbnail" %>

<p>
  <%= @item.description %>
</p>

<p>
  <strong>Starting price:</strong>
  <%= @item.starting_price %>
</p>
