<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment name:</strong>
  <%= @grade.assignment_name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>Student:</strong>
  <%= @grade.student.name %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
